<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.iqb.navigation">


    <application tools:ignore="AllowBackup,GoogleAppIndexingWarning,MissingApplicationIcon">
        <activity android:name="com.iqb.navigation.view.activity.NavigationActivity" />
    </application>

</manifest>